<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/weather">Weather</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/quiz">Quiz</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/football-team">Football Team</a>
    </li>
  </ul>
<form #oneQuestionQuiz="ngForm" (ngSubmit)="submit(oneQuestionQuiz.value)">
  <label for="quiz" class=""><h2>Choose wisely</h2></label>
  <div class="form-check">
    <label class="form-check-label">
      <input
        type="radio"
        name="quiz"
        class="form-check-input"
        #oneQuestionQuiz="ngModel"
        ngModel
        required
        value="potato"
        >Potato
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input
        type="radio"
        name="quiz"
        class="form-check-input"
        #oneQuestionQuiz="ngModel"
        ngModel
        required
        value="pizza"
        >Pizza
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input
        type="radio"
        name="quiz"
        class="form-check-input"
        #oneQuestionQuiz="ngModel"
        ngModel
        required
        value="Parsnips"
        >Parsnips
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input
        type="radio"
        name="quiz"
        class="form-check-input"
        #oneQuestionQuiz="ngModel"
        ngModel
        required
        value="Parsley"
        >Parsley
    </label>
  </div>
  <div *ngIf="oneQuestionQuiz.touched && oneQuestionQuiz.invalid" >
    <small *ngIf="oneQuestionQuiz.errors.required" class="form-text text-danger">Password is required</small>
    <small *ngIf="oneQuestionQuiz.errors.minlength" class="form-text text-danger">Password must be at least 6 characters</small>
    <small *ngIf="oneQuestionQuiz.errors.pattern" class="form-text text-danger">Password must contain a combination of uppercase, lowercase and numbers</small>
  </div>
  <button [disabled]="oneQuestionQuiz.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>