<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link" a routerLink="">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" a routerLink="/weather">Weather</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" a routerLink="/quiz">Quiz</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" a routerLink="/football-team">Football Team</a>
  </li>
</ul>
<div class="ml-4 mt-4">
  <h2>
    Weather and dat
  </h2>
  <div>
    <p>
      The current temperature in the {{ (forecastLondon | async)?.name }} is {{ (forecastLondon | async)?.main.temp }}&#176;C
      (min: {{ (forecastLondon | async)?.main.temp_min }}&#176;C. max: {{ (forecastLondon | async)?.main.temp_max }}&#176;C), 
      with a humidity of {{ (forecastLondon | async)?.main.humidity }}%.
    </p>
    <p>
      The current temperature in the {{ (forecastBristol | async)?.name }} is {{ (forecastBristol | async)?.main.temp }}&#176;C
      (min: {{ (forecastBristol | async)?.main.temp_min }}&#176;C. max: {{ (forecastBristol | async)?.main.temp_max }}&#176;C), 
      with a humidity of {{ (forecastBristol | async)?.main.humidity }}%
    </p>
    <p>
      The current temperature in {{ (forecastRome | async)?.name }} is {{ (forecastRome | async)?.main.temp }}&#176;C
      (min: {{ (forecastRome | async)?.main.temp_min }}&#176;C. max: {{ (forecastRome | async)?.main.temp_max }}&#176;C), 
      with a humidity of {{ (forecastRome | async)?.main.humidity }}%
    </p>
  </div>
</div>

<!-- <p *ngIf="error">
  testicles 
</p> -->
